<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33046">
        <setting id="preferred_language_1" type="labelenum" label="33012" default="Disabled" subsetting="true" values="Disabled|Afrikaans (af)|Albanian (sq)|Arabic (ar)|Armenian (hy)|Azerbaijani (az)|Basque (eu)|Belarusian (be)|Bengali (bn)|Bosnian (bs)|Bulgarian (bg)|Catalan (ca)|Chinese (zh)|Croatian (hr)|Czech (cs)|Danish (da)|Dutch (nl)|English (en)|Estonian (et)|Finnish (fi)|French (fr)|Galician (gl)|Georgian (ka)|German (de)|Greek (el)|Hebrew (he)|Hindi (hi)|Hungarian (hu)|Icelandic (is)|Indonesian (id)|Irish (ga)|Italian (it)|Japanese (ja)|Kazakh (kk)|Korean (ko)|Latvian (lv)|Lithuanian (lt)|Macedonian (mk)|Malay (ms)|Norwegian (no)|Persian (fa)|Polish (pl)|Portuguese (pt)|Romanian (ro)|Russian (ru)|Serbian (sr)|Slovak (sk)|Slovenian (sl)|Spanish (es)|Swedish (sv)|Tamil (ta)|Thai (th)|Turkish (tr)|Ukrainian (uk)|Urdu (ur)|Vietnamese (vi)|Welsh (cy)"/>
        <setting id="preferred_language_2" type="labelenum" label="33013" default="Disabled" subsetting="true" values="Disabled|Afrikaans (af)|Albanian (sq)|Arabic (ar)|Armenian (hy)|Azerbaijani (az)|Basque (eu)|Belarusian (be)|Bengali (bn)|Bosnian (bs)|Bulgarian (bg)|Catalan (ca)|Chinese (zh)|Croatian (hr)|Czech (cs)|Danish (da)|Dutch (nl)|English (en)|Estonian (et)|Finnish (fi)|French (fr)|Galician (gl)|Georgian (ka)|German (de)|Greek (el)|Hebrew (he)|Hindi (hi)|Hungarian (hu)|Icelandic (is)|Indonesian (id)|Irish (ga)|Italian (it)|Japanese (ja)|Kazakh (kk)|Korean (ko)|Latvian (lv)|Lithuanian (lt)|Macedonian (mk)|Malay (ms)|Norwegian (no)|Persian (fa)|Polish (pl)|Portuguese (pt)|Romanian (ro)|Russian (ru)|Serbian (sr)|Slovak (sk)|Slovenian (sl)|Spanish (es)|Swedish (sv)|Tamil (ta)|Thai (th)|Turkish (tr)|Ukrainian (uk)|Urdu (ur)|Vietnamese (vi)|Welsh (cy)"/>
        <setting label="33057" type="text" enable="false"/>
        <setting type="lsep"/>
        <setting id="match_strictness" type="labelenum" label="33029" default="33030" subsetting="true" lvalues="33030|33031"/>
        <setting label="33052" type="text" enable="false"/>
        <setting id="start_folder_priority" type="labelenum" label="33032" default="33033" subsetting="true" lvalues="33033|33034"/>
        <setting label="33053" type="text" enable="false"/>
    </category>

    <category label="33163">
        <setting id="enable_subtitle_download" type="bool" label="33164" default="true" subsetting="true"/>
        <setting id="download_auto_on_missing" type="bool" label="33165" default="true" subsetting="true"/>
        <setting id="download_max_results" type="number" label="33170" default="12" subsetting="true"/>
        <setting type="lsep"/>

        <setting id="provider_opensubtitles_enabled" type="bool" label="33166" default="true" subsetting="true"/>
        <setting id="provider_opensubtitles_username" type="text" label="33167" default="" subsetting="true"/>
        <setting id="provider_opensubtitles_password" type="text" label="33168" option="hidden" default="" subsetting="true"/>
        <setting id="provider_opensubtitles_api_key" type="text" label="33169" option="hidden" default="" subsetting="true"/>
        <setting type="lsep"/>

        <setting id="provider_podnadpisi_enabled" type="bool" label="33220" default="true" subsetting="true"/>
        <setting id="provider_subdl_enabled" type="bool" label="33221" default="false" subsetting="true"/>
        <setting id="provider_subdl_api_key" type="text" label="33222" option="hidden" default="" subsetting="true"/>
        <setting id="provider_bsplayer_enabled" type="bool" label="33228" default="false" subsetting="true"/>
        <setting label="33171" type="text" enable="false"/>
    </category>

    <category label="33058">
        <setting id="enable_ai_translation" type="bool" label="33059" default="false" subsetting="true"/>
        <setting id="openai_api_key" type="text" label="33060" option="hidden" default="" subsetting="true"/>
        <setting id="openai_model" type="text" label="33061" default="gpt-4.1-mini" subsetting="true"/>
        <setting label="33063" type="text" enable="false"/>
    </category>

    <category label="33047">
        <setting id="no_match_behavior" type="labelenum" label="33020" default="33022" subsetting="true" lvalues="33022|33023|33024"/>
        <setting label="33054" type="text" enable="false"/>
        <setting type="lsep"/>
        <setting id="partial_match_behavior" type="labelenum" label="33021" default="33025" subsetting="true" lvalues="33025|33026|33027"/>
        <setting label="33055" type="text" enable="false"/>
        <setting type="lsep"/>
        <setting id="second_subtitle_required" type="bool" label="33028" default="false" subsetting="true"/>
        <setting label="33056" type="text" enable="false"/>
        <setting id="last_used_subtitle_dir" type="text" default="" visible="false"/>
    </category>

    <category label="33049">
        <setting id="minTime" type="number" label="32526" default="0" subsetting="true"/>
        <setting label="32527" type="text" enable="false"/>
        <setting label="32528" type="text" enable="false"/>
        <setting type="lsep"/>
        <setting id="enable_smart_sync" type="bool" label="33081" default="true" subsetting="true"/>
        <setting id="smart_sync_mode" type="labelenum" label="33145" default="33147" subsetting="true" lvalues="33147|33146" enable="eq(-1,true)"/>
        <setting label="33082" type="text" enable="false"/>
        <setting type="lsep"/>
        <setting id="autoShft" type="bool" label="32520" default="true"/>
        <setting id="autoShftAmt" type="number" label="32521" default="500" subsetting="true" enable="eq(-1,true)"/>
        <setting label="32522" type="text" enable="false"/>
    </category>

    <category label="33048">
        <setting id="subtitle_locations" type="labelenum" label="32517" default="32507" subsetting="true" lvalues="32507|32508|32509"/>
        <setting id="dualsub_swap" type="bool" label="32525" default="false" subsetting="true"/>
    </category>

    <category label="33050">
        <setting id="bottom_font" type="labelenum" label="32512" default="Arial" subsetting="true" values="Arial|Verdana|DejaVu Sans|&lt;Kodi Subtitles Font&gt;"/>
        <setting id="bottom_characterset" type="select" label="32529" default="Auto Chardet" subsetting="true" values="Auto Chardet|Auto Charset_normalizer|Arabic (ISO)|Arabic (Windows)|Baltic (ISO)|Baltic (Windows)|Central Europe (ISO)|Central Europe (Windows)|Chinese Simplified (ISO)|Chinese Traditional (Big5)|Cyrillic (ISO)|Cyrillic (Windows)|Greek (ISO)|Greek (Windows)|Hebrew (ISO)|Hebrew (Windows)|Hong Kong (Big5-HKSCS)|Japanese (Shift-JIS)|Korean|Nordic Languages (ISO)|South Europe (ISO)|Thai (Windows)|Turkish (ISO)|Turkish (Windows)|Vietnamese (Windows)|UTF8|UTF16|UTF32|Western Europe (ISO)|Western Europe (Windows)"/>
        <setting id="bottom_fontsize" type="slider" label="32513" default="17" subsetting="true" range="12,1,30" option="int"/>
        <setting id="bottom_bold" type="bool" label="32514" default="true" subsetting="true"/>
        <setting id="bottom_color" type="labelenum" label="32515" default="32532" subsetting="true" lvalues="32532|32533"/>
        <setting id="bottom_background" type="bool" label="32516" default="false" subsetting="true"/>
        <setting id="bottom_shadow" type="slider" label="32523" default="0" subsetting="true" range="0,1,3" option="int"/>
        <setting id="bottom_outline" type="slider" label="32524" default="1" subsetting="true" range="0,1,5" option="int"/>
        <setting id="bottom_verticalmargin" type="slider" label="32518" default="10" range="-100,1,100" option="int"/>
    </category>

    <category label="33051">
        <setting id="top_font" type="labelenum" label="32512" default="Arial" subsetting="true" values="Arial|Verdana|DejaVu Sans|&lt;Kodi Subtitles Font&gt;"/>
        <setting id="top_characterset" type="select" label="32529" default="Auto Chardet" subsetting="true" values="Auto Chardet|Auto Charset_normalizer|Arabic (ISO)|Arabic (Windows)|Baltic (ISO)|Baltic (Windows)|Central Europe (ISO)|Central Europe (Windows)|Chinese Simplified (ISO)|Chinese Traditional (Big5)|Cyrillic (ISO)|Cyrillic (Windows)|Greek (ISO)|Greek (Windows)|Hebrew (ISO)|Hebrew (Windows)|Hong Kong (Big5-HKSCS)|Japanese (Shift-JIS)|Korean|Nordic Languages (ISO)|South Europe (ISO)|Thai (Windows)|Turkish (ISO)|Turkish (Windows)|Vietnamese (Windows)|UTF8|UTF16|UTF32|Western Europe (ISO)|Western Europe (Windows)"/>
        <setting id="top_fontsize" type="slider" label="32513" default="17" subsetting="true" range="12,1,30" option="int"/>
        <setting id="top_bold" type="bool" label="32514" default="true" subsetting="true"/>
        <setting id="top_color" type="labelenum" label="32515" default="32532" subsetting="true" lvalues="32532|32533"/>
        <setting id="top_background" type="bool" label="32516" default="false" subsetting="true"/>
        <setting id="top_shadow" type="slider" label="32523" default="0" subsetting="true" range="0,1,3" option="int"/>
        <setting id="top_outline" type="slider" label="32524" default="1" subsetting="true" range="0,1,5" option="int"/>
        <setting id="top_verticalmargin" type="slider" label="32518" default="10" range="-100,1,100" option="int"/>
    </category>
</settings>
